export(total_sum)
export(KRnorm)
export(MA_norm)
export(MD.plot1)
export(MD.plot2)
export(SCN)
export(cooler2sparse)
export(create.hic.table)
export(full2sparse)
export(get_CNV)
export(hic_diff)
export(hic_loess)
export(hic_simulate)
export(make_InteractionSet)
export(remove_centromere)
export(sim.other.methods)
export(sparse2full)
export(split_centromere)
export(visualize_pvals)
export(hicpro2bedpe)
import(S4Vectors)
#import(data.table)
importFrom("data.table", "as.data.table", "data.table", ":=", "rbindlist",
            "setDF", "setDT", "setDTthreads", "setkey", "is.data.table")
importFrom("dplyr", "%>%", "left_join", "right_join", "inner_join")
import(ggplot2)
importFrom("gridExtra", "grid.arrange")
import(mgcv)
importFrom("stats", "loess", "loess.control",
             "optimize", "p.adjust", "predict", "rnbinom", "rnorm",
             "runif", "update", "qnorm", "t.test")
import(InteractionSet)
importFrom("GenomicRanges", "GRanges")
importFrom("IRanges", "IRanges", "splitAsList", "width", "pintersect")
#importFrom("S4Vectors", "values", "split", "List")

importFrom("BiocParallel", "bpmapply", "bplapply", "bpparam", "register", "registered")
importFrom("graphics", "abline", "legend", "lines", "par", "persp",
             "points", "smoothScatter")
importFrom("methods", "is")
importFrom("utils", "read.table", "write.table")
import(QDNAseq)
import(KernSmooth)
importFrom("pheatmap", "pheatmap")

