export(KRnorm)
export(MA_norm)
export(MD.plot1)
export(MD.plot2)
export(SCN)
export(cooler2sparse)
export(create.hic.table)
export(full2sparse)
export(hic_diff)
export(hic_loess)
export(hic_simulate)
export(make_InteractionSet)
export(remove_centromere)
export(sim.other.methods)
export(sparse2full)
import(data.table)
importFrom("dplyr", "%>%", "left_join", "right_join", "inner_join")
import(ggplot2)
importFrom("gridExtra", "grid.arrange")
import(mgcv)
importFrom("stats", "loess", "loess.control", "na.omit",
             "optimize", "p.adjust", "predict", "rnbinom", "rnorm",
             "runif", "sd", "update")
import(InteractionSet)
importFrom("GenomicRanges", "GRanges")
importFrom("IRanges", "IRanges")
importFrom("S4Vectors", "values")
importFrom("BiocParallel", "bpmapply", "bplapply", "bpparam", "register", "registered")
